/* 首页样式 */
/* 头部 */
header{
    width:100%;
    min-width: 1342px;
    height: 60px;
    background-color: #60b1e6;
}

.h_content{
    position: relative;
    height: 60px;
}

.h_content img{
    position: absolute;
    top:50%;
    margin-top: -20px;
    margin-left: 30px;
   height: 40px;
}

.nav_list li{
    line-height: 60px;
    float: left;
    margin-right:20px ;
}

.nav_list li>a{
color: white;
}
.username{
    position: relative;
}
.username:hover .username_list{
  display: block;
}

.username_list{
    display: none;
    padding-left: 10px;
    position: absolute;
    left: -20px;
    width: 90px;
    background-color:rgba(100, 98, 98, 0.527);
     color:white;
     z-index: 999;
}


/* 内容 */
section{
    width:100%;
    height:600px;
    min-width: 1342px;
    background-color: #f3f3f3;
}

.sec_left{
    width:40%;
    height:600px;
    /* background-color: pink; */

}
.sec_right{
    width: 60%;
    height: 600px;
    /* background-color: skyblue; */
}


.box{ text-align: center;}

.box>canvas{
    width: 75%;
    margin-top: 50px;
}


/*  */
i{
    color: #b62929;
}

.c{
    width:100%;
    margin:20px auto;
}

.deta_top{
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.nav{
    height:20px;
    margin:25px 0  20px;
}

h2{
    display: inline-block;
    margin-right:20px;
}

/*  */

.deta_bottom form p{
    margin:20px  0px;
}

#deta_bottom p:nth-child(1){
    margin-top: 20px;
}


.deta_bottom select{
    width: 250px;
    height:40px;
    border: 1px solid #dcdfe6;
    padding:0px 15px;
}

.spanBtn  span{
    margin-left: 15px;
    display:inline-block;
    width:92px ;
    height:42px ;
    line-height: 42px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #dcdfe6;
}

.spanBtn img{
    margin-left: 15px;
    width: 100px;
    /* border: 2px solid #dcdfe6; */
    border-radius: 15px;
}
.changColor{
    border: 2px solid #dec882;
}
/* .deta_bottom  .spanBtn:first-of-type img:hover{
    box-sizing: border-box;
} */

.bgi{background-image: url(../img/xoyo-radio-tick-mask.633cfcf0.png);}
.changBorder{
    border:none;
    background-image: url(../img/xoyo-radio-tick-mask.633cfcf0.png);
}

.deta_bottom button:disabled{
    background-color: gray;
}

.deta_bottom button{
    margin-left: 95px;
    width: 228px;
    height: 53px;
    border: none;
    
    font-size: 24px;
    line-height: 53px;
    color: white;
}

#checkbox{
    margin-left: 95px;
    width: 13px;
    height: 13px;
}

#ts{margin-left: 95px;}


/* 浮窗 */
#cs_box {width:120px; height:220px; background:#54a7ff; position:fixed; right:10px; top:100px; border-radius:10px; z-index:1000}

	#cs_box span {color:#fff; height:20px; line-height:20px; font-family:'Arial'; display:block;}

	.cs_close {position:absolute; right:10px; top:10px; cursor:pointer; font-size:12px;}

	.cs_title {font-size:14px; margin:10px; font-weight:bold;}

	.cs_img {width:100px; height:100px; background:#fff; margin:10px;}

	.cs_info {font-size:12px; margin:0px 10px; overflow:hidden; text-align:center;}

	.cs_btn {width:100px; height:25px; background:#333; margin:5px 10px; border-radius:5px; font-size:12px; line-height:25px; color:#fff; text-align:center; cursor:pointer;}



/* 底部 */
footer{
    width: 100%;
    height: 200px;
    min-width: 1342px;
    background-image: url(../img/option_bg.jpg);
}

.f_left{
    width: 70%;
    height:200px ;
   
}
.f_left dl:first-child{
    margin-left:100px;
}

.f_left dl{
    display: inline-block;
    margin:20px 50px;

}
.f_left dt{
    font-size: 16px;
    color:rgb(194, 194, 194);
    margin-bottom: 10px;
}

.f_left dt:hover{
    color:white;
}

.f_left dd{
    font-size: 12px;
    padding: 4px 5px;
}

.f_left dd>a{
    color:rgb(194, 194, 194);
}

.f_left dd>a:hover{
    color:white;
}

.f_right{
    width: 30%;
    height: 200px;
}

.f_right_box{
    height: 170px;
   text-align: center;
   margin-top:15px;
   border-left:2px solid rgb(194, 194, 194);
}

.f_right_box p{
    color: white;
    font-size: 14px;
}

.f_right_box p img{
    width: 120px;
}


.f_right_box span{
    font-size: 12px;
    color: white;
}
